* {
  margin: 0;
  box-sizing: content-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #aae4f6;
  background-color: #04142f;
}

header {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #2c45a5;
  margin-bottom: 1rem;
}

#new-task-form {
  display: flex;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-task-input {
  flex: 1 1 0%;
  background-color: #15253c;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: #f1c2c2;
  font-size: 1.25rem;
}

#new-task-input::placeholder {
  color: #538081;
}

#new-task-submit {
  color: #ef6dae;
  font-size: 1.25rem;
  font-weight: 800;
  background-image: linear-gradient(to right, #ef6dae, #a580fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: grab;
  transition: 0.5s;
}

#new-task-submit:hover {
  opacity: 0.8;
}

#new-task-submit:active {
  opacity: 0.6;
}

main {
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list {
  padding: 1rem;
}

.task-list h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #291b97;
  margin-bottom: 1rem;
}

#tasks .task {
  display: flex;
  justify-content: space-between;
  background-color: #090f1d;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.task .content {
  flex: 1 1 0%;
}

.task .content .text {
  color: #f1c2c2;
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

.task .content .text:not(:read-only) {
  color: #ef6dae;
}

.task .actions {
  display: flex;
  margin: 0 -0.5rem;
}

.task .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.task .actions button:hover {
  opacity: 0.8;
}

.task .actions button:active {
  opacity: 0.6;
}

.task .actions .edit {
  background-image: linear-gradient(to right, #ef6dae, #a580fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.task .actions .remove {
  color: rgb(247, 90, 90);
}
